<% for (let courseKey in site.data.courses) { %>
    <% const course=site.data.courses[courseKey]; %>
    <div>
        <span>
            占位图
        </span>
        <p>
            <%= course.courseTitle %> 
        </p>
        <p>
            <% for (let lecturer of course.lecturers) { %>
                <span><%= lecturer %> </span>
            <% } %>
        </p>
        <p>
            课程大类: <%= JSON.stringify(course.categories) %> 
        </p>
        <p>
            课程描述: <%= course.description %> 
        </p>
    </div>
<% } %>