@import 'utils.less';
@import 'constants.less';

:root {
  --courseCardHeight: 320px;
  --courseCardWidth: 250px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-view {
  margin: 0 90px;
}
.course-card {
	height: var(--courseCardHeight); 
	width: var(--courseCardWidth);
  border-radius: 5px !important;
}

.course-card-body {
  height: calc(0.44 * var(--courseCardHeight) )
}

.course-card-cover {
  height: calc(0.44 * var(--courseCardHeight) ) !important;
  width: calc(0.5 * ( var(--courseCardWidth) - 2 * 15) ) !important;
}

.course-card-number {
  text-align: right;
  margin-left: 10px;
}

.course-card-description {
  text-align: justify;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 20px;
}

.course-card-meta {
  height: 180px;
  overflow: hidden;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--courseCardWidth));
  grid-template-rows: repeat(auto-fill, var(--courseCardHeight) );
  gap: 25px;
  justify-items: stretch;
  justify-content: space-between;
}

.h1-font-weight {
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin: 25px 0;
}