<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Maki's Lab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">首页</a>
            </li>
          </ul>
        </div>
        <div>
          <a href="https://github.com/maki-math/maki-web-hexo" class="link-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github"
              viewBox="0 0 16 16">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
          </a>
        </div>
      </div>
    </nav>

    <div class="container mb-4 mt-4">
      <div class="card">
        <div class="card-body">
          <h1 class="display-4">欢迎回来</h1>
          <p class="lead">您上次学到：。。。。课程</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-lg" href="#00" role="button">点击继续</a>
        </div>
      </div>
    </div>
  
    <div class="container">
      <h1 class="font-weight-lighter text-center mb-4">数学 MATHEMATICS<a id="00"></a></h1>
  
      <div class="row">
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">分析</h4>
              <h6 class="card-subtitle mb-2 text-muted">很简单的分析啦～</h6>
              <ul>
                <li><a href="courses/eden&alex_mathematical_analysis/course.html" class="btn btn-link">数学分析</a> by eden</li>
                <li><a href="courses/yuchen_complex_analysis/course.html" class="btn btn-link">复分析</a> by yuchen</li>
                <li><a href="courses/enkan_functional_analysis/course.html" class="btn btn-link">泛函分析</a> by enkan</li>
              </ul>
              
              <!--<a href="#" class="btn btn-link">实分析</a>
              <a href="#" class="btn btn-link">傅立叶分析</a>-->
              
            </div>
          </div>
        </div>
  
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">代数</h4>
              <h6 class="card-subtitle mb-2 text-muted">白马非马，代数非数</h6>
              <a href="courses/victor_abstract_algebra/course.html" class="btn btn-link">抽象代数</a>
              <!--<a href="#" class="btn btn-link">线性代数</a>
              <a href="#" class="btn btn-link">高等代数</a>
              <a href="#" class="btn btn-link">交换代数</a>-->
            </div>
          </div>
        </div>
  
  
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">数论</h4>
              <h6 class="card-subtitle mb-2 text-muted">“数学中的皇冠”</h6>
              <a href="courses/maki_number_theory/course.html" class="btn btn-link">初等数论</a>
              <!--<a href="#" class="btn btn-link">代数数论</a>
              <a href="#" class="btn btn-link">代数几何</a>-->
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="container">
      <h1 class="font-weight-lighter text-center mb-4">物理 PHYSICS<a id="01"></a></h1>
  
      <div class="row">
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">量子</h4>
              <h6 class="card-subtitle mb-2 text-muted">量子力学量力学～</h6>
              <a href="courses/ahbete_baby_quantum/course.html" class="btn btn-link">Baby Quantum</a>
              <a href="courses/ahbete_modern_quantum/course.html" class="btn btn-link">Modern Quantum</a>
              <a href="courses/susann_quantum_field_theory/course.html" class="btn btn-link">量子场论</a>
              <a href="courses/ahbete_quantum_optics/course.html" class="btn btn-link">Quantum Optics</a>
  
              
  
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="container">
        <h1 class="font-weight-lighter text-center mb-4">计算机 Computer Science<a id="01"></a></h1>
    
        <div class="row">
          <div class="col-sm-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">数学编程工具</h4>
                <a href="courses/cubee_matlab/course.html" class="btn btn-link">Matlab</a>
              </div>
            </div>
          </div>
    
        </div>
  
      
  
    </div>
    <!--
    <div class="container">
      <h1 class="font-weight-lighter text-center mb-4">化学 CHEMISTRY<a id="02"></a></h1>
  
      <div class="row">
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">有机化学</h4>
              <h6 class="card-subtitle mb-2 text-muted">感到辛酸</h6>
              <a href="#" class="btn btn-link">有机合成</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    -->
  
  
    <div class="container">
      <hr>
      <p>(C) 2020, Maki & his friends</p>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>